*{
	box-sizing: border-box;
}

body{
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	height: 100vh;
	width: 90vw;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.panel{
	height: 90%;
	border-radius: 25px;
	flex:0.2;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.panel h3{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.panel h3{
	opacity: 0;
	color: brown;
	font-weight: bold;
	font-style: oblique;
}

.panel.active{
	flex: 1;
}

.panel.active h3{
opacity: 1;
}